Vmdeleting/Input-params.ps1
Vmdeleting/Безымянный2.ps1
Deploy.ps1.bak
Vmdeleting/NetworkInterface.ps1
Vmdeleting/PIP.ps1
Vmdeleting/Storage.ps1
Vmdeleting/deletingvm.ps1
AzureKubernetesService/CLI/*
AzureKubernetesService/logs/*
AzureKubernetesService/yamlconfs/*
.vscode/settings.json
pod-lin-deployment-84d4f9599d-2fpww.yaml
README.md.bak
VmDeploy/azuredeploy.json.bak
VmDeploy/azuredeploy.parameters.json.bak
VmDeploy/azuredeploy.parameters.general.json
VmDelete/DeleteVm.ps1.bak
VmDelete/DeleteVm.ps1.bak
VmDelete/DeleteVm.ps1.bak
AzureFileShare/tst.azcli
AzureKubernetesService/AKSDeploy.full.azcli
.gitignore.bak
.gitignore.old
Task and video for delivery engineer/
GCP-K8S-Gitlab-Terraform/