Vmdeleting/Input-params.ps1
Vmdeleting/Безымянный2.ps1
Deploy.ps1.bak
Vmdeleting/NetworkInterface.ps1
Vmdeleting/PIP.ps1
Vmdeleting/Storage.ps1
Vmdeleting/deletingvm.ps1
AzureKubernetesService/CLI/SP.azcli
AzureKubernetesService/CLI/arlistgroups.azcli
AzureKubernetesService/CLI/arr1.azcli
AzureKubernetesService/CLI/arrays.azcli
AzureKubernetesService/logs/logs-from-hello-in-hello-deployment-f6fcb6cfc-pp2n7.txt
AzureKubernetesService/yamlconfs/hello.yml
AzureKubernetesService/yamlconfs/lin.deploy.yaml
AzureKubernetesService/yamlconfs/nginx.deploy.yaml
